<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/general.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>

    <nav id="navheader" class="navheader">

        <div class="logo">LOGO</div>

        <div class="logo-bar-right">
            <div id="hamburgerIcon" class="hamburger-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div id="navheaderLinks" class="navheader-links">
                <button class="navheader-link moveToSection" data-section="vehiculos">Vehículos</button>
                <button class="navheader-link moveToSection" data-section="productos">Productos</button>
                <button class="navheader-link moveToSection" data-section="servicios">Servicios</button>
                <button class="navheader-link moveToSection" data-section="test-drive">Test-Drive</button>
            </div>
        </div>
    </nav>


    @*@RenderSection("navbar", required: false)*@

    @RenderBody()
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>*@

    <footer>
        <div class="footer-info">
            <div class="footer-column">
                <span class="footer-column-title">Conócenos</span>

                <span>Historia</span>
                <span>Qué hacemos</span>
            </div>

            <div class="footer-column">
                <span class="footer-column-title">Nuestros vehículos</span>

                <span>Honda</span>
                <span>Dogde</span>
                <span>Mitsubishi</span>
                <span>Chevrolet</span>
                <span>Toyota</span>
            </div>

            <div class="footer-column">
                <span class="footer-column-title">Contáctanos</span>

                <span>78002780</span>
                <span>eCommerceCar@gmail.com</span>

                <span class="footer-column-title">Nuestras redes sociales</span>

                <span>Facebook</span>
                <span>Twitter</span>
                <span>Instagram</span>
                <span>Snapchat</span>
                <span>Google+</span>
                <span>Youtube</span>
            </div>

            <div class="footer-column">
                <span class="footer-column-title">¿Necesitas Ayuda?</span>

                <span>Cómo me registro</span>
                <span>No puedo comprar</span>
                <span>Quiero reunirme con un asesor</span>
                <span>Quiero hacer un Test-Drive</span>
            </div>
        </div>

        <div class="footer-copyright">
            Copyright © 2018 eCommerceCar Inc. Todos los derechos reservados.
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/Generico.js"></script>
    <script src="~/Scripts/general.js"></script>

    <script src="~/Scripts/pages/navegador.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
